<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itk.item.mapper.ItemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.itk.item.model.ItemInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mainSrc" property="mainsrc" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="detailSrc" property="detailsrc" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="current_price" property="currentPrice" jdbcType="DECIMAL" />
    <result column="history_price" property="historyPrice" jdbcType="DECIMAL" />
    <result column="pay_period" property="payPeriod" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="shop_category_id" property="shopCategoryId" jdbcType="INTEGER" />
    <result column="total_stock" property="totalStock" jdbcType="INTEGER" />
    <result column="current_stock" property="currentStock" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, mainSrc, bar_code, item_id, detailSrc, price, current_price, history_price, 
    pay_period, is_del, shop_category_id, total_stock, current_stock, shop_id, category_id, 
    status, create_date, creator, updator, modify_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itk.item.model.ItemInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_item_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itk.item.model.ItemInfoExample" >
    delete from t_item_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itk.item.model.ItemInfo" >
    insert into t_item_info (id, name, mainSrc, 
      bar_code, item_id, detailSrc, 
      price, current_price, history_price, 
      pay_period, is_del, shop_category_id, 
      total_stock, current_stock, shop_id, 
      category_id, status, create_date, 
      creator, updator, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mainsrc,jdbcType=VARCHAR}, 
      #{barCode,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{detailsrc,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{currentPrice,jdbcType=DECIMAL}, #{historyPrice,jdbcType=DECIMAL}, 
      #{payPeriod,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{shopCategoryId,jdbcType=INTEGER}, 
      #{totalStock,jdbcType=INTEGER}, #{currentStock,jdbcType=INTEGER}, #{shopId,jdbcType=BIGINT}, 
      #{categoryId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itk.item.model.ItemInfo" >
    insert into t_item_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mainsrc != null" >
        mainSrc,
      </if>
      <if test="barCode != null" >
        bar_code,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="detailsrc != null" >
        detailSrc,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
      <if test="historyPrice != null" >
        history_price,
      </if>
      <if test="payPeriod != null" >
        pay_period,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="shopCategoryId != null" >
        shop_category_id,
      </if>
      <if test="totalStock != null" >
        total_stock,
      </if>
      <if test="currentStock != null" >
        current_stock,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mainsrc != null" >
        #{mainsrc,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="detailsrc != null" >
        #{detailsrc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=DECIMAL},
      </if>
      <if test="historyPrice != null" >
        #{historyPrice,jdbcType=DECIMAL},
      </if>
      <if test="payPeriod != null" >
        #{payPeriod,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryId != null" >
        #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="totalStock != null" >
        #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="currentStock != null" >
        #{currentStock,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itk.item.model.ItemInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_item_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_item_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mainsrc != null" >
        mainSrc = #{record.mainsrc,jdbcType=VARCHAR},
      </if>
      <if test="record.barCode != null" >
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.detailsrc != null" >
        detailSrc = #{record.detailsrc,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.currentPrice != null" >
        current_price = #{record.currentPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.historyPrice != null" >
        history_price = #{record.historyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.payPeriod != null" >
        pay_period = #{record.payPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.shopCategoryId != null" >
        shop_category_id = #{record.shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.totalStock != null" >
        total_stock = #{record.totalStock,jdbcType=INTEGER},
      </if>
      <if test="record.currentStock != null" >
        current_stock = #{record.currentStock,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_item_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      mainSrc = #{record.mainsrc,jdbcType=VARCHAR},
      bar_code = #{record.barCode,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=VARCHAR},
      detailSrc = #{record.detailsrc,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      current_price = #{record.currentPrice,jdbcType=DECIMAL},
      history_price = #{record.historyPrice,jdbcType=DECIMAL},
      pay_period = #{record.payPeriod,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      shop_category_id = #{record.shopCategoryId,jdbcType=INTEGER},
      total_stock = #{record.totalStock,jdbcType=INTEGER},
      current_stock = #{record.currentStock,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      category_id = #{record.categoryId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      updator = #{record.updator,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itk.item.model.ItemInfo" >
    update t_item_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mainsrc != null" >
        mainSrc = #{mainsrc,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="detailsrc != null" >
        detailSrc = #{detailsrc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=DECIMAL},
      </if>
      <if test="historyPrice != null" >
        history_price = #{historyPrice,jdbcType=DECIMAL},
      </if>
      <if test="payPeriod != null" >
        pay_period = #{payPeriod,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryId != null" >
        shop_category_id = #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="totalStock != null" >
        total_stock = #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="currentStock != null" >
        current_stock = #{currentStock,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itk.item.model.ItemInfo" >
    update t_item_info
    set name = #{name,jdbcType=VARCHAR},
      mainSrc = #{mainsrc,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=VARCHAR},
      detailSrc = #{detailsrc,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      current_price = #{currentPrice,jdbcType=DECIMAL},
      history_price = #{historyPrice,jdbcType=DECIMAL},
      pay_period = #{payPeriod,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      shop_category_id = #{shopCategoryId,jdbcType=INTEGER},
      total_stock = #{totalStock,jdbcType=INTEGER},
      current_stock = #{currentStock,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCategoryIdAndStatus" resultType="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_item_info
    where is_del = 0 and category_id = #{categoryId,jdbcType=BIGINT} and status = #{status,jdbcType=INTEGER}
  </select>

  <select id="selectByShopIdAndStatus" resultType="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_item_info
    where is_del = 0 and shop_id = #{shopId,jdbcType=BIGINT} and status = #{status,jdbcType=INTEGER}
  </select>

  <select id="selectByShopCategoryIdAndStatus" resultType="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_item_info
    where is_del = 0 and shop_category_id = #{shopCategoryId,jdbcType=INTEGER} and status = #{status,jdbcType=INTEGER}
  </select>
</mapper>