<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	 http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">

    <description>Dubbo consumer配置</description>

    <dubbo:consumer check="false"/>

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="itk-center"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <!-- 到这里调用 -->
    <dubbo:registry protocol="zookeeper" address="localhost:2181" id="zookeeper"/>



	<!-- 用dubbo协议在20800端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="30400" dispather="all"
		threadpool="cached" threads="5000" />



    <!--app 登陆-->
    <dubbo:service interface="com.itk.user.service.UserInfoService" ref="userInfoService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="userInfoService" class="com.itk.user.service.impl.UserInfoServiceImpl"/>


    <!--首页cms-->
    <dubbo:service interface="com.itk.cms.service.PageSortService" ref="pageSortService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="pageSortService" class="com.itk.cms.service.impl.PageSortServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.GalleryService" ref="galleryService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="galleryService" class="com.itk.cms.service.impl.GalleryServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.HomePageService" ref="homePageService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="homePageService" class="com.itk.cms.service.impl.HomePageServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.JewelService" ref="jewelService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="jewelService" class="com.itk.cms.service.impl.JewelServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.SkuposService" ref="skuposService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="skuposService" class="com.itk.cms.service.impl.SkuposServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.SeckillService" ref="seckillService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="seckillService" class="com.itk.cms.service.impl.SeckillServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.SeckillSeasonService" ref="seckillSeasonService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="seckillSeasonService" class="com.itk.cms.service.impl.SeckillSeasonServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.PartinglineService" ref="partinglineService"
                   version="1.0" registry="zookeeper" owner="zhouhui"/>
    <bean id="partinglineService" class="com.itk.cms.service.impl.PartinglineServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.HbannerService" ref="hbannerService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="hbannerService" class="com.itk.cms.service.impl.HbannerServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.NearByBusinessInfoService" ref="nearByBusinessInfoService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="nearByBusinessInfoService" class="com.itk.cms.service.impl.NearByBusinessInfoServiceImpl"/>

    <dubbo:service interface="com.itk.cms.service.NearByBusinessService" ref="nearByBusinessService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="nearByBusinessService" class="com.itk.cms.service.impl.NearByBusinessServiceImpl"/>

    <!--back position-->
    <dubbo:service interface="com.itk.back.service.BackUserService" ref="backUserService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="backUserService" class="com.itk.back.service.impl.BackUserServiceImpl"/>


    <!--base position-->
    <dubbo:service interface="com.itk.base.service.PositionProvinceService" ref="provinceService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="provinceService" class="com.itk.base.service.impl.PositionProvinceServiceImpl"/>

    <dubbo:service interface="com.itk.base.service.PositionCityService" ref="cityService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="cityService" class="com.itk.base.service.impl.PositionCityServiceImpl"/>

    <dubbo:service interface="com.itk.base.service.PositionCountyService" ref="countyService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="countyService" class="com.itk.base.service.impl.PositionCountyServiceImpl"/>

    <dubbo:service interface="com.itk.base.service.PositionTownService" ref="townService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="townService" class="com.itk.base.service.impl.PositionTownServiceImpl"/>

    <dubbo:service interface="com.itk.base.service.PositionVillageService" ref="villageService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="villageService" class="com.itk.base.service.impl.PositionVillageServiceImpl"/>

    <dubbo:service interface="com.itk.base.service.ShopInfoService" ref="shopInfoService"
                   version="1.0" registry="zookeeper" owner="enchen"/>
    <bean id="shopInfoService" class="com.itk.base.service.impl.ShopInfoServiceImpl"/>

</beans>
